Source: ipu6-camera-hal
Section: libs
Priority: optional
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 libexpat-dev,
 libipu6-dev,
Standards-Version: 4.5.0
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Vcs-Browser: https://github.com/intel/ipu6-camera-hal
Vcs-Git: https://github.com/intel/ipu6-camera-hal.git

Package: libcamhal
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: shared libraries of HAL for ipu6 camera

Package: libcamhal-dev
Architecture: any
Depends:
 ${misc:Depends},
 libcamhal (= ${binary:Version}),
 libipu6-dev,
Description: headers and static library of HAL for ipu6 camera
